<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css">
    <title>Test Page</title>
</head>

<body>
    <h1>
        This is test page.
    </h1>

    <p>
        This is test paragraph.
    </p>

    <pre>
        <code>
            #include <iostream>
            using namespace std;
    
            int main() {
                cout << "Hello, World!" << endl;
                return 0;
            }
        </code>
    </pre>
</body>

</html>