h3,
li {
    /* 태그 이름 */
    color: brown;
}

div>div>strong {
    /* 자식 셀렉터 */
    background-color: yellow;
}

ul strong {
    /* 자손 셀렉터 */
    color: dodgerblue
}

.warning {
    /* class 셀렉터 */
    color: red;
}

.main {
    background-color: aliceblue;
}

#list {
    /* id 셀렉터 */
    background-color: mistyrose;
}

#list span {
    color: forestgreen;
}

h3::first-letter {
    /* 가상 클래스 셀렉터 */
    color: aqua;
}

li:first-child {
    background-color: black;
}

li:hover {
    background-color: yellowgreen;
}